// gray
$gray-200: #ECEEEF !default;
$gray-300: #DDDDDD !default;
$gray-400: #818A91 !default;
$gray-500: #777777 !default;
$gray-600: #55595C !default;
$gray-700: #373A3C !default;


// colors
$blue:    #1C7CD5;
$secondary:     $gray-600 !default;
$success:       #5CB85C !default;
$info:          #56C0E0 !default;
$warning:       #F0AD4E !default;
$danger:        #D9534F !default;


$alert-danger-color:        #efdfdf !default;
$alert-danger-border-color: #e7cecd !default;
$alert-danger-text-color:   #9f4f48 !default;

$sidebar-width: 250px;